<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест по английски</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Избери ниво на теста</h1>
        <form action="/" method="POST">
            <label for="level">Избери ниво:</label>
            <select name="level" id="level">
                <option value="A1">A1</option>
                <option value="A2">A2</option>
                <option value="B1">B1</option>
                <option value="B2">B2</option>
                <option value="C1">C1</option>
                <option value="C2">C2</option>
            </select>
            <button type="submit">Избери ниво</button>
        </form>

        {% if questions %}
        <h2>Тест по ниво {{ level }}</h2>
        <form method="POST" action="/result">
            <input type="hidden" name="level" value="{{ level }}"> <!-- Запазваме нивото -->

            <!-- Скрито поле за ID на избраните въпроси -->
            <input type="hidden" name="selected_questions_ids" value="{{ selected_question_ids }}">

            {% for question in questions %}
            <div class="question-container">
                <label>{{ question[2] }}</label><br>
                <div class="answer-options">
                    <input type="radio" name="answers[{{ question[0] }}]" value="{{ question[3] }}">{{ question[3] }}<br>
                    <input type="radio" name="answers[{{ question[0] }}]" value="{{ question[4] }}">{{ question[4] }}<br>
                    <input type="radio" name="answers[{{ question[0] }}]" value="{{ question[5] }}">{{ question[5] }}<br>
                    <input type="radio" name="answers[{{ question[0] }}]" value="{{ question[6] }}">{{ question[6] }}<br>
                </div>
            </div>
            {% endfor %}
            <button type="submit">Подай отговори</button>
        </form>
        {% endif %}
    </div>
</body>
</html>
